<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #21386E; height: 55px; border-bottom: 5px solid black;">
  <a class="navbar-brand" routerLink="info" *ngIf="loginbtn" routerLinkActive="active" style="color:#F8D326; margin-left: 15px;"><strong>POKEFINAL</strong></a>
  <a class="navbar-brand" routerLink="inicio" *ngIf="logoutbtn" routerLinkActive="active" style="color:#F8D326; margin-left: 15px;"><strong>POKEFINAL</strong></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExample">
    <ul class="navbar-nav mr-auto">

      <!-- ANTES DE INICIAR SESION -->
  
      <li class="nav-item">
        <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active" style="color: white;">INICIAR SESION</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="loginbtn" routerLink="register" routerLinkActive="active" style="color: white;">REGISTRARSE</a>
      </li>

      <!-- DESPUES DE INICIAR SESION -->

      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn"  routerLink="perfil" routerLinkActive="active" style="color: white;" 
          onmouseenter="this.style = 'color: red'"
          onmouseleave="this.style = 'color: white'">PERFIL</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn"  routerLink="amigos" routerLinkActive="active" style="color: white;" 
        onmouseenter="this.style = 'color: red'"
        onmouseleave="this.style = 'color: white'">AMIGOS</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn"  routerLink="regalos" routerLinkActive="active" style="color: white;" 
        onmouseenter="this.style = 'color: red'"
        onmouseleave="this.style = 'color: white'">REGALOS</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" *ngIf="logoutbtn"  routerLink="comunidad" routerLinkActive="active" style="color: white;" 
        onmouseenter="this.style = 'color: red'"
        onmouseleave="this.style = 'color: white'">COMUNIDAD</a>
      </li>

      <li class="nav-item">
        <button type="button" *ngIf="admin" class="btn btn-block" style="color: red;">ADMIN</button>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>