.fondo{
    background-image: url("https://i.ytimg.com/vi/RRIjBVsGNKg/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.pokemon{
    background-color: white;
    border-radius: 30px;
    border: 6px solid black;
    margin: 10px;
    height: 110px;
}

.pokemon:hover{
    background-color: aqua;
    border-radius: 30px;
    border: 10px solid black;
    margin: 10px;
}