<div class="fondo">
  <div style="height: 100vh;">

    <h1 style="font-size: 70px;"> <strong>POKEDEX</strong> </h1>

    <div style="margin-top: 50px; margin-left: 20px; margin-right: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">

        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" class="pokemon" style="border-color: blue;">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/013.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/016.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/019.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/021.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/023.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/027.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/029.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/032.png" class="pokemon">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/035.png" class="pokemon">

    </div>
  </div>
</div>
