<h1 style="font-size: 40px; text-align: center; padding: 10px;"> <strong>POKEDEX</strong> </h1>
<div class="fondo" style="height: 100vh;">
  <div style="display: flex; justify-content: space-around; align-items: flex-start; margin-top: 30px;">

    <div id="coleccion" style="width: 50%; background-color: rgba(0, 0, 0, 0.5); padding: 25px; border-radius: 30px; margin-right: 10px;">
      <h2 style="font-size: 40px; text-align: center; margin-bottom: 20px; color: white;"> <strong>EN COLECCION</strong> </h2>
      <div style=" display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
  
      </div>
    </div>

    <div id="bloqueado" style="width: 50%; background-color: rgba(0, 0, 0, 0.5); padding: 25px; border-radius: 30px; margin-left: 10px;">
      <h2 style="font-size: 40px; text-align: center; margin-bottom: 20px; color: white;"> <strong>SIN DESBLOQUEAR</strong> </h2>
      <div style=" display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/013.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/016.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/019.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/021.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/023.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/027.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/029.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/032.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/037.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/039.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/041.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/043.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/046.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/048.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/050.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/052.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/054.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/056.png" class="pokemon">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/058.png" class="pokemon">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/007/126/739/small/question-mark-icon-free-vector.jpg" class="pokemon">
      </div>
    </div>
    
  </div>
</div>
