<div class="fondo">

    <div>
        <br><br><br>
        <div style="text-align: center; margin-top: 30px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png" alt="">
        </div>
        <br><br><br><br>
    </div>
</div>

<div>
    <div style="background-color: black; height: 50px;">-</div>

    <div class="footer" style="margin-top: 100px;">
        <h5>Creado por:
            <a href="https://www.youtube.com" style="padding-right: 10px;">Ignacio Damiani</a>
            <a href="https://www.youtube.com">Aaron Galli</a>
        </h5> 
    </div>

</div>
