html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.header {
    background-image: url('http://localhost/programacionweb/recursos/fondoInfo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoPresentacion {
    background-color: #2C71B8;
    padding: 30px;
}

.presentacion {
    max-width: 1150px;
    color: whitesmoke;
    padding: 20px;
}

.cuerpo{
    background-color: cadetblue;
    padding: 30px;
}

.footer {
    color: white;
    background-color: black;
    padding: 20px;
}
