<div class="header">
    <div>
        <div style="height: 150px;"></div>
        <div style="text-align: center; margin-top: 30px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png" alt="">
        </div>
        <div style="height: 150px;"></div>
    </div>
</div>

<div style="background-color: #21386E; height:180px;"> 
    <h1 style="font-size: 50px; padding-top: 60px; text-align: center; padding-bottom: 60px; color: white;"> <strong>PRESENTACION</strong> </h1>
</div>

<div class="fondoPresentacion">


    <div class="presentacion">
        <p style="font-size: 26px; margin-top: 40px"> 
            ¡Bienvenidos a <strong>PokeFinal</strong>!
            <br><br>
            En este emocionante juego basado en los famosos Pokemones, te sumergirás en un mundo lleno de aventuras y estrategia al estilo de un juego de Cartas. Tu objetivo es coleccionar los <strong>50</strong> Pokemones disponibles en todo el juego. <br><br>Cada uno de ellos posee habilidades únicas y estratégicas junto con informacion sobre ellos, lo que te permitirá conocer mas a fondo sobre el interesante mundo Pokemon!.
        </p>    
        
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c325.png">
                            
    </div>

    <br>
        <p class="presentacion" style="font-size: 30px;"><strong>¿Estás listo para convertirte en un maestro Pokémon y coleccionarlos a todos?</strong>
        </p>
    <br>
</div>

<div style="background-color: #21386E; height: 180px;"> 
    <h1 style="font-size: 50px; padding-top: 60px; text-align: center; padding-bottom: 60px; color: white;"> <strong>JUGABILIDAD</strong> </h1> 
</div>

<div class="fondo">

    <div class="gatcha" style="margin-top: 75px; margin-left: 50px;">

        <img src="http://localhost/programacionweb/recursos/gatcha.png">
    
        <p style="font-size: 26px; margin-left: 20px;"> <strong>El camino hacia la victoria comienza con el misterioso Gatcha. </strong><br><br> Cada <strong>24</strong> horas tendrás la oportunidad de abrir una pokebola especial que contiene un Pokémon sorpresa. ¿Qué criatura te espera dentro? <br><br> <strong>¡Descúbrelo y añádelo a tu colección!</strong> Recuerda que algunos Pokemones son más raros que otros, así que prepárate para enfrentar el desafío y demostrar tu perseverancia en la búsqueda de aquellos Pokemones más codiciados. </p>
    </div>

    <div class="amigos" style="margin-top: 150px; margin-right: 50px;">

        <p style="font-size: 26px; margin-right: 20px;"> <strong>¿Tienes un Pokémon que te gustaría añadir a tu equipo, pero te falta? No hay problema!</strong><br><br>Conecta con tus amigos en el juego y realiza intercambios estratégicos para fortalecer tu colección. <strong>¡Juntos podrán alcanzar la victoria y convertirse en los mejores entrenadores de PokeFinal! </strong>
        
        Recuerda que cada Pokémon es único y posee habilidades especiales. El intercambio de Pokemones te brinda la oportunidad de obtener nuevas criaturas, descubrir estrategias más poderosas y alcanzar nuevos niveles de éxito. <br><br><strong>¡Trabaja en equipo, forja lazos con otros jugadores y amplía tu colección para enfrentar desafíos aún más emocionantes!</strong> </p>
        
        <img src="http://localhost/programacionweb/recursos/amigos.png">
    </div>

    <div class="pokedex" style="margin-top: 150px; margin-left: 50px; margin-bottom: 150px;">

        <img src="http://localhost/programacionweb/recursos/Pokedex.png">
    
        <p style="font-size: 26px; margin-left: 20px;"> <strong>La Pokedex es una herramienta esencial para todo entrenador Pokémon. <br></strong> <br>Te permite rastrear y registrar cada especie de Pokémon que hayas capturado a lo largo de tu aventura. <br>Cada vez que encuentres y atrapes un nuevo Pokémon, su información se añadirá automáticamente a tu Pokedex, dándote un registro detallado de tu progreso y tus logros.
        <br><br><strong>¡Prepárate para embarcarte en esta emocionante aventura en PokeFinal y completar tu Pokedex!</strong> </p>
    </div>
    
</div>

<div class="footer">
    <h6 style="text-align: center; padding-top: 20px;">Creado por:
        <br><br>
        <a href="https://www.linkedin.com/in/ignaciodamiani/" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
        <a href="https://www.linkedin.com/in/aarongalli/" target="_blank">Aaron Galli</a>
    </h6> 

    <br><br><br>
    <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
</div>
