<div class="header">
    <div>
        <br><br><br>
        <div style="text-align: center; margin-top: 30px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png" alt="">
        </div>
        <br><br><br><br>
    </div>
</div>

<div style="background-color: black; height: 70px;"></div>

<div class="presentacion">
    <h1 style="margin-top: 40px; text-align: center; font-size: 50px;"> <strong>PRESENTACION</strong> </h1> <br>
    <p style="font-size: 26px; text-align: center; padding-left: 300px; padding-right: 300px;"> 
        ¡Bienvenidos a <strong>PokeFinal</strong>!
        <br><br>
        En este emocionante juego basado en los famosos Pokemones, te sumergirás en un mundo lleno de aventuras y estrategia al estilo de un juego de Cartas. Tu objetivo es coleccionar los <strong>50</strong> Pokemones disponibles en todo el juego. <br><br>Cada uno de ellos posee habilidades únicas y estratégicas junto con informacion sobre ellos, lo que te permitirá conocer mas a fondo sobre el interesante mundo Pokemon!
        <br><br>
        <strong style="font-size: 30px;">¿Estás listo para convertirte en un maestro Pokémon y coleccionarlos a todos?</strong>
        <br><br>
    </p>    
</div>
<div style="background-color: black; height: 20px;"></div>

<div class="cuerpo">
    <img src="http://localhost/programacionweb/recursos/gatcha.png" alt="" style="border-radius: 20px; width: 490px; height: 530px; border: 15px solid black;">
</div>

<div class="footer">
    <h6 style="text-align: center;">Creado por:
        <br><br>
        <a href="https://www.youtube.com" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
        <a href="https://www.youtube.com" target="_blank">Aaron Galli</a>
    </h6> 

    <br><br><br>
    <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
</div>
