<div class="fondo">
    <div class="container">
      <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div style="background-color: #90CAF9; padding: 40px; border-radius: 30px; border: 5px solid black; width: 600px;">

                    <h1 style="color: black; font-size: 50px; text-align: center"> PERFIL </h1>

                    <p style="color: black; font-size: 30px; margin-top: 50px;"> <strong>USUARIO: </strong> 
                      <a id="nombre_usuario">{{nombreUsuario}}</a> </p>
                    <p style="color: black; font-size: 30px; margin-top: 20px;"> <strong>EMAIL: </strong> 
                      <a id="email">{{emailUsuario}}</a></p>
                    <p style="color: black; font-size: 30px; margin-top: 20px;"> <strong>AMIGOS: </strong> 
                      <a id="cant_amigos">{{cantAmigos}}</a></p>
                    <p style="color: black; font-size: 30px; margin-top: 20px;"> <strong>POKEMONES: </strong> 
                      <a id="cant_pokemones">{{cantPokemones}}/50</a></p>

                    <a class="nav-link" routerLink="" (click)="logout()" routerLinkActive="active" style="color: red; text-align: center; font-size: 25px; margin-top: 60px; -webkit-text-stroke: 0.8px black;"> <strong>CERRAR SESION</strong> </a>
            </div>
      </div>
    </div>
</div>

<div class="footer">
  <h6 style="text-align: center; padding-top: 20px;">Creado por:
      <br><br>
      <a href="https://www.youtube.com" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
      <a href="https://www.youtube.com" target="_blank">Aaron Galli</a>
  </h6> 

  <br><br><br>
  <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
</div>