<div class="fondo">
    <div class="container">
      <div class="row" style="height: 100vh;">
        <div class="col-md-4">
            <div style="background-color: #21386E; padding: 40px; border-radius: 30px; margin-top: 120px; width: 600px;">

                    <h1 style="color: white; font-size: 50px; text-align: center"> PERFIL </h1>

                    <p style="color: white; font-size: 30px; margin-top: 50px;"> <strong>USUARIO: </strong> <a>Nombre de Usuario</a> </p>
                    <p style="color: white; font-size: 30px; margin-top: 20px;"> <strong>EMAIL: </strong> <a>email@gmail.com</a></p>
                    <p style="color: white; font-size: 30px; margin-top: 20px;"> <strong>AMIGOS: </strong> <a>0</a></p>
                    <p style="color: white; font-size: 30px; margin-top: 20px;"> <strong>POKEMONES: </strong> <a>0/50</a></p>

                    <a class="nav-link" routerLink="" (click)="logout()" routerLinkActive="active" style="color: red; text-align: center; font-size: 25px; margin-top: 60px;">CERRAR SESION</a>
            </div>
        </div>
      </div>
    </div>
</div>