<div class="fondo">
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-4">
        <div class="jumbotron">
            <div style="background-color: #21386E; padding: 20px; border-radius: 30px;">

                <h2 class="text-center" style="margin: 20px; color: white;"> <strong>REGISTRARSE</strong> </h2>
                
                <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" style="margin: 20px;">

                  <div class="form-group" style="margin-top: 10px;">
                    <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Usuario">
                  </div>
                  
                  <div class="form-group" style="margin-top: 10px;">
                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
                  </div>

                  <div class="form-group" style="margin-top: 10px;">
                    <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Contraseña">
                  </div>

                  <div style="text-align: center; margin-top: 20px;">
                    <button type="submit" class="btn btn-success">Registrarse</button>
                  </div>
                </form>
              </div>

              <div id="mensaje" *ngIf="showErrorMessage" class="alert alert-danger" style="margin-top: 20px;">
                Por favor, completa correctamente todos los campos del formulario.
              </div>
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="footer">
    <h6 style="text-align: center; padding-top: 20px;">Creado por:
        <br><br>
        <a href="https://www.youtube.com" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
        <a href="https://www.youtube.com" target="_blank">Aaron Galli</a>
    </h6> 

    <br><br><br>
    <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
</div>