.fondo{
  background-color: rgb(149, 232, 204);
  background-size: cover;
  min-height: 100vh;
}

.message-container {
  background-color: aliceblue;
  padding: 30px;
  margin: 30px;
  border-radius: 20px;
  max-height: 700px; /* Altura máxima deseada */
  overflow-y: auto; /* Mostrar barra de desplazamiento vertical cuando sea necesario */
}
