html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 15px;
    width: 100%;    
}

.fondo {
    background-image: url('https://pbs.twimg.com/media/D-EkX_hWkAEXeok.jpg:large');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.opcionFondo{
    background-color: white;
    height: 500px;
    width: 430px;
    border-radius: 20px;
    border: 12px solid black;
}
