<div class="fondo">

    <div class="content">
        <br>
    </div>

    <div class="footer">
        <h6 style="text-align: center; padding-top: 20px;">Creado por:
            <br><br>
            <a href="https://www.youtube.com" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
            <a href="https://www.youtube.com" target="_blank">Aaron Galli</a>
        </h6> 
    
        <br><br><br>
        <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
    </div>

</div>
