<div class="fondo">
    <div style="min-height: 100vh;">
  
      <h1 style="font-size: 70px; text-align: center; padding-top: 20px;"> <strong>AMIGOS</strong> </h1>
  
      <div style="margin-top: 50px; margin-left: 20px; margin-right: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">

        <div id="lista" class="lista">
          <h3 style="text-align: center;"> <strong>LISTA</strong> </h3>
          <div *ngIf="hayAmigos">
            <div style="display: flex; align-items: center; margin-top: 20px; width: 350px; height: fit-content;" *ngFor="let usuario of amigos">
              <img class="eliminar" src="https://cdn-icons-png.flaticon.com/512/2/2104.png" (click)="eliminarAmigo(usuario.id)">
              <h3 class="buscado" style="width: 70%;">{{usuario.nombre_usuario}}</h3>
              <img class="regalo" style="width: 15%;" src="https://img.freepik.com/iconos-gratis/caja-regalo_318-298640.jpg" (click)="regalo(usuario.id)">
              <img class="mensaje" style="width: 15%;" src="http://localhost/programacionweb/recursos/mensaje.png" (click)="mensaje(usuario.id)">
            </div>
          </div>

          <div *ngIf="!hayAmigos">
            <h5 style="text-align: center; margin-top: 20px;"> No tenes amigos! </h5>
          </div>
        </div>

        <div id="buscar" class="buscar"  style="text-align: center;">
          <h3 style="text-align: center;"> <strong>BUSCAR</strong> </h3>

          <form (submit)="buscarUsuario($event)" style="margin-bottom: 20px; margin-top: 20px;">
            <input type="text" placeholder="Ingrese el usuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" style="border-radius: 15px; padding: 10px; width: 200px;">
          </form>

          <div *ngFor="let usuario of busqueda">
            <h3 class="buscado">{{usuario.nombre_usuario}}</h3>
            <button style="color: black; border-radius: 20px; background-color: aquamarine; padding: 10px; margin-top: 10px;" (click)="agregarAmigo(usuario.id)"> AGREGAR </button>
          </div>

        </div>

      </div>
    </div>
</div>  

<div class="footer">
  <h6 style="text-align: center; padding-top: 20px;">Creado por:
      <br><br>
      <a href="https://www.youtube.com" style="padding-right: 10px;" target="_blank">Ignacio Damiani</a>
      <a href="https://www.youtube.com" target="_blank">Aaron Galli</a>
  </h6> 

  <br><br><br>
  <p style="text-align: center;"> Esta pagina web fue creada utilizando <a href="https://angular.io/" target="_blank">ANGULAR</a> y <a href="https://www.php.net/" target="_blank">PHP</a></p>
</div>
