.fondo{
    background-image: url("https://i.imgur.com/SYY2mJz.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    height: fit-content;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 15px;
    width: 100%;    
}

.lista {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 30px; 
    border-radius: 20px;
    text-align: center;
    min-width: 300px;
    min-height: 350px;
    max-height: 650px;
    margin: 30px;
}

.lista:hover{
    background-color: rgba(255, 255, 255, 1); 
}

.buscar {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 30px; 
    border-radius: 20px; 
    text-align: center;
    min-width: 300px;
    min-height: 350px;
    max-height: 650px;
    margin: 30px;
}

.buscar:hover{
    background-color: rgba(255, 255, 255, 1); 
}

.buscado{
    color: black;
    font-size: 25px;
    background-color: #81a8c8;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.mensaje{
    width: 40px; 
    margin: 5px; 
    height: 45px;
    padding: 5px;
}

.mensaje:hover{
    border: 1px solid black;
}

.regalo{
    width: 30px;
    height: 42px; 
    margin: 5px;
    padding: 5px;
}

.regalo:hover{
    border: 1px solid black;
}

.eliminar{
    height: 10px;
}

.eliminar:hover{
    height: 15px;
}

.pokemon{
    height: 150px;
}

.pokemon:hover{
    border: 3px solid black;
}
